<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<style>
	.contentShort{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width:100px;
	}
</style>
</head>
<div class='container'>
	<div class='row'>
		<div class='span12'>
			<p><em>亲爱的<strong>${cname!""}</strong>，你好！</em></p>
			<p><em>本月发票超期情况如下，请知悉</em></p>
			<table width="100%" class='table table-hover table-condensed table-bordered' border="1" cellspacing="0" style="white-space: nowrap;table-layout:fixed;">
				<thead style="border: 1px solid #F00;">
					<tr>
						<th width="8%"><span>No.</span></th>
						<!-- <th width="15%"><span>省</span></th>
						<th width="15%"><span>市</span></th> -->
						<th width="60%"><span>客户名称</span></th>
						<th width="20%"><span>金额</span></th>
						<th width="12%"><span>超期</span></th>
					</tr>
				</thead>
				<tbody>
				<#list reportList as invoice>
					<tr><td>${invoice_index+1}</td>
					<!-- <td>${invoice.province!}</td>
					<td>${invoice.city!}</td> -->
					<td class="contentShort" style="white-space:normal">${invoice.customerName!}</td>
					<td class="contentShort" style="white-space:normal">${invoice.amountIncVat!}</td>
					<td class="contentShort" style="white-space:normal">${invoice.arrearsAfterNet!}</td>
				</#list>
				</tbody>
			</table>
		</div>
	</div>
</div>
</html>