<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gsk.portal.quartz.dao.JobLogMapper" >
  <resultMap id="BaseResultMap" type="gsk.portal.quartz.model.JobLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="jobid" property="jobid" jdbcType="INTEGER" />
    <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="message_id" property="messageId" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="picurl" property="picurl" jdbcType="VARCHAR" />
    <result column="to_user" property="toUser" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="signature" property="signature" jdbcType="VARCHAR" />
    <result column="send_status" property="sendStatus" jdbcType="VARCHAR" />
    <result column="error_msg" property="errorMsg" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, jobid, send_time, message_id, title, description, picurl, to_user, content, signature, 
    send_status, error_msg, remark
  </sql>
  <select id="findAll" resultMap="BaseResultMap">
  	select * from m_job_log
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from m_job_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from m_job_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="gsk.portal.quartz.model.JobLog" >
    insert into m_job_log (jobid, send_time, 
      message_id, title, description, 
      picurl, to_user, content, 
      signature, send_status, error_msg, 
      remark)
    values (#{jobid,jdbcType=INTEGER}, #{sendTime,jdbcType=TIMESTAMP}, 
      #{messageId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{picurl,jdbcType=VARCHAR}, #{toUser,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{signature,jdbcType=VARCHAR}, #{sendStatus,jdbcType=VARCHAR}, #{errorMsg,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="gsk.portal.quartz.model.JobLog" >
    insert into m_job_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="jobid != null" >
        jobid,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="messageId != null" >
        message_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="picurl != null" >
        picurl,
      </if>
      <if test="toUser != null" >
        to_user,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="signature != null" >
        signature,
      </if>
      <if test="sendStatus != null" >
        send_status,
      </if>
      <if test="errorMsg != null" >
        error_msg,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="jobid != null" >
        #{jobid,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="messageId != null" >
        #{messageId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="picurl != null" >
        #{picurl,jdbcType=VARCHAR},
      </if>
      <if test="toUser != null" >
        #{toUser,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="signature != null" >
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="sendStatus != null" >
        #{sendStatus,jdbcType=VARCHAR},
      </if>
      <if test="errorMsg != null" >
        #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="gsk.portal.quartz.model.JobLog" >
    update m_job_log
    <set >
      <if test="jobid != null" >
        jobid = #{jobid,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null" >
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="messageId != null" >
        message_id = #{messageId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="picurl != null" >
        picurl = #{picurl,jdbcType=VARCHAR},
      </if>
      <if test="toUser != null" >
        to_user = #{toUser,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="signature != null" >
        signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="sendStatus != null" >
        send_status = #{sendStatus,jdbcType=VARCHAR},
      </if>
      <if test="errorMsg != null" >
        error_msg = #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="gsk.portal.quartz.model.JobLog" >
    update m_job_log
    set jobid = #{jobid,jdbcType=INTEGER},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      message_id = #{messageId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      picurl = #{picurl,jdbcType=VARCHAR},
      to_user = #{toUser,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      signature = #{signature,jdbcType=VARCHAR},
      send_status = #{sendStatus,jdbcType=VARCHAR},
      error_msg = #{errorMsg,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>