<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="warehouse.dao.InventoryMapper" >
  <resultMap id="BaseResultMap" type="warehouse.model.Inventory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_no" property="productNo" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="cube_or_quantity" property="cubeOrQuantity" jdbcType="DOUBLE" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, product_no, product_name, cube_or_quantity, location, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from inventory
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from inventory
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="warehouse.model.Inventory" >
    insert into inventory (id, product_no, product_name, 
      cube_or_quantity, location, remark
      )
    values (#{id,jdbcType=INTEGER}, #{productNo,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, 
      #{cubeOrQuantity,jdbcType=DOUBLE}, #{location,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="warehouse.model.Inventory" >
    insert into inventory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productNo != null" >
        product_no,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="cubeOrQuantity != null" >
        cube_or_quantity,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productNo != null" >
        #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="cubeOrQuantity != null" >
        #{cubeOrQuantity,jdbcType=DOUBLE},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="warehouse.model.Inventory" >
    update inventory
    <set >
      <if test="productNo != null" >
        product_no = #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="cubeOrQuantity != null" >
        cube_or_quantity = #{cubeOrQuantity,jdbcType=DOUBLE},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="warehouse.model.Inventory" >
    update inventory
    set product_no = #{productNo,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      cube_or_quantity = #{cubeOrQuantity,jdbcType=DOUBLE},
      location = #{location,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>